<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-primary navbar-dark">
    <div class="container">
      <a routerLink="/" class="navbar-brand">
        <!-- <img src="../../dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"> -->
        <span class="brand-text font-weight-light"><b>ShoppingListApp</b> V1</span>
      </a>

      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">

          <li class="nav-item">
            <a routerLink="/" class="nav-link">Dashboard</a>
          </li>

          <li class="nav-item">
            <a routerLink="/products" class="nav-link">Produtos</a>
          </li>

          <li class="nav-item">
            <a routerLink="/lists" class="nav-link">Listas</a>
          </li>

        </ul>

      </div>

    </div>
  </nav>

  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="content-header">
      <div class="container">
          <ng-bread-crumb [breadTitle]="getBreadTitle()" [routeList]="getPageLinks()"></ng-bread-crumb>
      </div>
    </div>
    <!-- /.content-header -->

    
    <!-- Main content -->
    <div class="content">
      
      <div class="container">
      
        <router-outlet></router-outlet>

      </div><!-- /.container-fluid -->

    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Versão 1.0.0
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; {{beginDate()}}{{actualYear}} <a href="https://github.com/mafumotech">mafumotech</a>.</strong> Todos os Direitos Reservados.
  </footer>
</div>
<!-- ./wrapper -->
