<ng-card [cardTitle]="'Listas'" [cardIcon]="'fas fa-list'" [cardStyles]="'card-primary card-outline'">

    <ng-container class="card-header-options">

        <ng-button (click)="alertMethod()" [button]="handleButton()"></ng-button>

    </ng-container>

    <ng-container class="card-content">

        <ng-table [thtf]="tableProprieties()">

            <ng-container class="data">
                <tr *ngFor="let list of lists">
                    <td>{{list.id}}</td>
                    <td><strong>{{list.description}}</strong></td>
                    <td>{{list.balance | currency:'MZN':'symbol'}}</td>
                    <td class="text-center"><span class=" badge badge-success">{{list.itemQtd}}</span></td>
                    <td> 
                        <span class="text-success" *ngIf="list.status==0">Finalizada</span>
                        <span class="text-danger" *ngIf="list.status==1">Não Finalizada</span>
                    </td>
                    <td>{{list.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td class="text-center">
                        <ng-button title="Editar a Lista" (click)="editObject(list)"  [button]="handleButton('edit')"></ng-button>&nbsp;
                        <ng-button title="remover a lista" (click)="deleteObject(list)" [button]="handleButton('delete')"></ng-button>&nbsp;
                    </td>
                </tr>

                <tr *ngIf="!(!!lists) || lists.length==0" class="text-center">
                  <td [colSpan]="tableProprieties().length">dados não encontrados!</td>
              </tr>
            </ng-container>

        </ng-table>

    </ng-container>
</ng-card>

<div class="modal fade" id="modal-default" *ngIf="(!!lists)">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Lista: {{lista}}</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ng-item-form></ng-item-form>
        </div>
        <!-- <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
