<form [formGroup]="objectForm" (ngSubmit)="submitForm()">


    <ng-card [cardTitle]="'Informações do Produto'" [cardIcon]="'fas fa-shopping-cart'" [cardStyles]="'card-primary card-outline'">

        <ng-container class="card-header-options">
           
            <ng-button (click)="goBack()" [button]="handleButton()"></ng-button>
    
        </ng-container>
    
        <ng-container class="card-content">
            
            <div class="form-row">
                <div class="form-group col-md-12">
                  <input type="text" placeholder="Nome" class="form-control" id="name" formControlName="name">
                </div>
            </div>
    
            <ng-button [button]="handleButton('save')"></ng-button>
            
        </ng-container>
    
    </ng-card>

  </form>
  